
pyspark
findspark  # Optional: helps Jupyter locate Spark
pandas
pyarrow   # Needed for Parquet/Arrow data exchange
fastparquet
boto3    # AWS SDK for Python
s3fs    # Pandas/Spark integration with S3
awscli  # AWS CLI wrapper for Python
psycopg2-binary  # Postgres JDBC/ETL testing
jupyter    # Notebooks
ipython
python-dotenv # Manage credentials/env vars
typer
pydantic
chispa
pytest
rich
